@model IEnumerable<Equipment.Models.Device>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
                  
            

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeviceDictionaryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceDictionaryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceUser)
        </td>
        <td>
            @Html.ActionLink("Claim it", "Edit", new { id=item.DeviceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceId })
        </td>
    </tr>
}

</table>
